[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/home/pi/Desktop/frpc -c /home/pi/Desktop/frpc.ini
ExecReload=/home/pi/Desktop/frpc reload -c /home/pi/Desktop/frpc.ini
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
